[Unit]
Description=BookLib container
Requires=booklib-db.container
After=booklib-db.container

[Container]
ContainerName=booklib
Image=ghcr.io/prakunin/booklib:v0.38.2
Pod=booklib.pod
AutoUpdate=registry
Pull=always

Volume=booklib-data:/app/data
# note the :z is important for selinux systems
# Volume=YOUR MOUNTS:/books:z
# Volume=YOUR MOUNTS:/bookdrop:z


Environment=TZ=Etc/UTC
Secret=booklib_db_pass,type=env,target=DATABASE_PASSWORD
Environment=DATABASE_URL=jdbc:mariadb://localhost:3306/booklib
Environment=DATABASE_USERNAME=booklib
HealthCmd=CMD-SHELL wget -q --spider http://localhost:${BOOKLORE_PORT:-6060}/api/v1/healthcheck
HealthInterval=1m
HealthRetries=5
HealthStartPeriod=1m
HealthTimeout=10s

[Install]
WantedBy=default.target
