[Unit]
Description=Grimmory Database Container Using MariaDB

[Container]
ContainerName=grimmory-db
Image=docker.io/library/mariadb:12.3.2
Pod=grimmory.pod
Pull=always

Volume=grimmory-db:/var/lib/mysql

Environment=TZ=Etc/UTC
Environment=MYSQL_USER=grimmory
Secret=grimmory_db_pass,type=env,target=MYSQL_ROOT_PASSWORD
Secret=grimmory_db_pass,type=env,target=MYSQL_PASSWORD
Environment=MYSQL_DATABASE=grimmory

DropCapability=all
AddCapability=CAP_CHOWN CAP_SETUID CAP_SETGID CAP_FOWNER
